@model Restoran.web.Models.Rezervacija

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rezervacija</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vreme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vreme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrojOsoba)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojOsoba)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gost.IDGosta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sto.IDStola)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IDRezervacije">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
