@model IEnumerable<Restoran.web.Models.Rezervacija>

<h2>Spisak rezervacija</h2>

<table class="table">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Vreme</th>
            <th>Broj osoba</th>
            <th>Gost</th>
            <th>Sto</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Datum.ToString("d")</td>
                <td>@item.Vreme</td>
                <td>@item.BrojOsoba</td>
                <td>@(item.Gost?.ImeGosta) @(item.Gost?.PrezimeGosta)</td>
                <td>@(item.Sto?.BrojStola)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IDRezervacije">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IDRezervacije">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IDRezervacije">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Nova rezervacija</a>